@import url('https://fonts.googleapis.com/css?family=Mukta');
.container{
  font-family: 'Mukta', sans-serif;
    min-height:210px;
    min-width: 300px;	
	/* background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
    overflow-y: hidden; */
    transition:.3s ease-in-out;
    z-index:0;
    /* box-shadow: 9px 9px 15px 9px #00000096; */
    border-radius: 5px;
    background-color: rgba(255,255, 255, 1);
} 

/* CSS for Login */
.login-show {
    margin-top: 8px;
    transition:1s ease-in-out;
    color:#242424;
    /* text-align:left; */
}

.login-show input[type="text"], .login-show input[type="password"]{
    width: 90%;
    max-height: 40px;
    display: block;
    margin:10px 10px;
    padding: 10px;
    border: 2px solid #b5b5b5;
    outline: none;
}

.login-show a{
    font-size: 22px;
    display:inline-block;
    margin-left: 10px;
    
}
.btn-primary{

    background: #1183e0;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    float:right;
    margin-right: 14px;
    cursor:pointer;

}
/* CSS for Login */



/* CSS for after login */
.FeedBackReport:last-of-type{
    flex: 2;  
}
.feedback{
    width: 50%;
    background-color:chartreuse;
    flex: 1;
    float: left;
    text-align: center;

}
.report{
    width: 50%;
    background-color: red;
    flex: 1;
    float: right;
    text-align: center;
}
/* .FeedBackReport a{
    background: #1183e0;
    color: #f9f9f9;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    margin-right: 5px;
    cursor:pointer;
} */
.infor-show {
    margin-top: 8px;
    color:#242424; 
}
/* CSS for after login */

/* CSS for log */
.containerLog{
    font-family: 'Mukta', sans-serif;
    min-height:210px;
    min-width: 560px;	
    transition:.3s ease-in-out;
    z-index:0;
    border-radius: 5px;
    background-color: rgba(255,255, 255, 1);
}
.textLog{
    width: 100%;
    height: 200px;
    white-space: nowrap;
}
/* CSS for log */


/* CSS for list block */
.containerTable{
    font-family: 'Mukta', sans-serif;
    height:210px;
    max-width: 560px;	
    transition:.3s ease-in-out;
    z-index:0;
    border-radius: 5px;
    background-color: rgba(255,255, 255, 1);
}
.scrollit {
    overflow:scroll;
    height:100px;
}
/* CSS for list block */